.mainContent {
    width: 100%;
    background-color: rgba(245,246,248,1);
}
.header {
    height: 10%;
    display: flex;
    padding: 5px;
    justify-content: space-between;
}
.listItems {
    height: 18%;
    /* display: flex;
    justify-content: space-around; */
    padding: 5px 8px 5px 8px;
}
.center-part {
    /* height: 35%; */
    /* display: flex;
    justify-content: space-around; */
    margin-top: 3vh;
}
.footer {
    /* height: 27%; */
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    padding: 1vh;
}
.UserName {
    align-self: center;
    font-size: 2vh;
    margin-left: 1vw;
}
.searchArea {
    align-self: center;
    margin-right: 2vw;
    background-color: white;
    width: 15%;
}

/* @media (max-width: 768px) {
    .center-part {
        height: 60%;
    }
} */

